<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Dashboard I Admin Panel</title>
	<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen" />

	<!--link rel="stylesheet" href="css/layout.css" type="text/css" media="screen" /-->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="/static/js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="/static/js/hideshow.js" type="text/javascript"></script>
	<script src="/static/js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/static/js/jquery.equalHeight.js"></script>
	<script type="text/javascript">
	$(document).ready(function() 
    	{ 
      	  $(".tablesorter").tablesorter(); 
   	 } 
	);
	$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
    </script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
</script>
<script type="text/javascript">
	var mast="{{mast}}";
</script>
<script type="text/javascript">
	function picki(){
		var argv = picki.arguments;
		var i = 0;
		var j =  1;
		var file2 = 'poker';
		if (window.opener && !window.opener.closed)
			window.opener.id_input_path.value = argv[i] +'/'+ argv[j];
		window.close();	
	}
	function picko(){
		var argv = picko.arguments;
		var i = 0;
		var j = 1;
		if (window.opener && !window.opener.closed)
			window.opener.id_output_path.value = argv[i] + '/' + argv[j];
		window.close();	
	}
</script>
</head>


<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="index.html">Browsing HDFS</a></h1>
		</hgroup>
	</header> <!-- end of header bar -->
	
	<section id="secondary_bar">
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="index.html">User Page</a> <div class="breadcrumb_divider"></div> <a class="current">Browsing HDFS</a></article>
		</div>
	</section><!-- end of secondary bar -->
	
		<aside id="sidebar" class="column">

		<hr/>
		<h3>Hadoop</h3>
		<ul class="toggle">
		<li class="icn_add_user"><a href="http://127.0.0.1:8000/userhome">Add New Job</a></li>
		<li class="icn_add_user"><a href="http://127.0.0.1:8000/userjob">Job info</a></li>
		<li class="icn_view_users"><a href="http://127.0.0.1:8000/logs">Logs</a></li>
		</ul>
		<h3>Logout</h3>
		<ul class="toggle">

		<li class="icn_jump_back"><a href="http://127.0.0.1:8000/login/">Logout</a></li>
		</ul>
		</aside>


	
	<section id="main" class="column">
		
		
		<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">HDFS Content</h3>
		</header>
		<div class="tab_container">
			<div id="tab1" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					<th></th> 
    				<th>Name</th> 
				</tr> 
			</thead> 
			<tbody>
				{%csrf_token%}
				        
				{%for i in filelist%}
				   {%ifequal i.1 'DIRECTORY'%}
				<tr> 
					<td><a href="http://127.0.0.1:8000/filebrowsero{{path}}/{{i.0}}">
							<input type="image" src="/static/images/icn_folder.png" title="Folder" height="30" width="30"></a></td> 
				 
					<td><a href="http://127.0.0.1:8000/filebrowsero{{path}}/{{i.0}}">
						{{i.0}}</a>	</td>
				<td>
		<!--		<a href="javascript:window.close();"><input type="button" onclick=function(){mast={{i.0}};};"> </a>		-->
	</td>
				</tr> 
				 {%else%}
				<tr> 
   				 	<td><input type="image" src="/static/images/file-icon.png" title="Folder" height="30" width="30"></td> 
					<td>{{i.0}}</td> 
				</tr>
				{%endifequal%}
				{%endfor%}
			</tbody> 
			</table>
		     </div><!-- end of #tab1 -->
 
			<footer>
			<div class="submit_link">
				<a href="http://127.0.0.1:8000/filebrowsero{{g}}">
					<input type="submit" value="PARENT DIRECTORY" >

				</a>
			</div>
			</footer>

		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
		<div class="clear"></div>
		
		<div class="spacer"></div>
	</section>


</body>

</html>
