<!DOCTYPE html>
<html>
<head>

<!-- CSS -->
<link rel="stylesheet" href="/static/css/1.css" />

	 <script src="/static/jsp/text.js" type="text/javascript"></script>
          <script type="text/javascript">
           var windowSizeArray=["width=600,height=600",
	   "width=600,height=600,scrollbar=yes"];

            $(document).ready(function(){
                $('.newWindow').click(function (event){
 
                    var url = $(this).attr("href");
                    var windowName = "popUp";//$(this).attr("name");
                    var windowSize = windowSizeArray[$(this).attr("rel")];
 
                    window.open(url, windowName, windowSize);
 
                    event.preventDefault();
 
                });
            });
        </script>
</head>

<body id="public">
<div id="container" class="ltr">

<h1 id="logo">
<a>User Jobs</a>
</h1>

<form id="form1" name="form1" enctype="multipart/form-data" method="post" action="/userhome/">

<header id="header" class="info">
<div>Please enter in your Job details</div>
</header>
	{% csrf_token %}
	{{ jform.as_p}}
	<a href="http://127.0.0.1:8000/filebrowser" rel="0" class="newWindow">Browse Input Path</a>
	</br>
	<a href="http://127.0.0.1:8000/filebrowser" rel="1" class="newWindow">Browse Output Path
	</a>
	</br>
	
<input type="submit" value="Submit" />
</form> 


</div><!--container-->

</body>
</html>
